/* Estilos para el modal del carrito */
.modal-content {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.modal-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1f2d3d;
}

.modal-body {
  margin-top: 20px;
}

#carritoItems {
  list-style-type: none;
  padding: 0;
}

#carritoItems li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#carritoItems li .nombre {
  flex-grow: 1;
  margin-right: 10px;
  color: #444444;
}

#carritoItems li .precio {
  font-weight: bold;
  color: #1f2d3d;
}

#carritoTotal {
  margin-top: 10px;
  text-align: right;
  font-weight: bold;
  color: #1f2d3d;
}

#comprar {
  background-color: #1f2d3d;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#comprar:hover {
  background-color: #444444;
}

#mensaje-compra {
  margin-top: 10px;
  color: #1f2d3d;
}

header .navegador {
  background-color: #1F2D3D !important;
  color: #FFFFFF; 
}

header .navegador li:hover {
  background-color: #444444;
  color: #FFFFFF;
}

header .navegador a:nth-child(even) {
  color: #444444; 
}

header .navegador a:nth-child(odd) {
  color: #A7BBC7;
}

.carousel-inner {
  max-height: 49rem !important;
}

/* Estilos para los elementos en general */
body {
  background-color: #E6E6E6;
  color: #444444;
  font-family: Arial, sans-serif;
}

/* Estilos para el encabezado */
h2 {
  color: #1F2D3D;
}

/* Estilos para los íconos */
.icono {
  background-color: #A7BBC7;
}

/* Estilos para los botones */
button {
  background-color: #1F2D3D;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #444444;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos de la sección de sabores */
#sabores {
  background-color: #f7f7f7;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sabores h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #1f2d3d;
  text-align: center;
}

.fila {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-width: 300px;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.item:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.item .icono {
  background-color: #a7bbc7;
  height: 150px;
  border-radius: 20px 20px 0 0;
  position: relative;
}

.item .icono::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/sandwich.jpg);
  background-size: contain;
  background-position: center;
  opacity: 0.5;
}

.item .info {
  padding: 20px;
}

.item h3 {
  font-size: 1.5rem;
  color: #444444;
  margin-bottom: 10px;
}

.item p {
  font-size: 1rem;
  color: #444444;
  margin-bottom: 10px;
}

.agregar {
  background-color: #1f2d3d;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
}

.agregar:hover {
  background-color: #444444;
}

/* Estilos del carrito */
.carrito {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
}

.carrito h2 {
  font-size: 2rem;
  color: #1f2d3d;
  margin-bottom: 20px;
  text-align: center;
}

.carrito ul {
  list-style-type: none;
  margin-bottom: 20px;
}

.carrito li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.carrito li span {
  font-weight: bold;
  color: #1f2d3d;
}

.carrito p {
  font-size: 1.2rem;
  color: #1f2d3d;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

#total {
  font-weight: bold;
}

#comprar {
  background-color: #1f2d3d;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 20px;
  cursor: pointer;
}

#comprar:hover {
  background-color: #444444;
}

.wrapper-local {
  width: 50%;
  margin-left: 100px;
  padding-top: 150px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p {
  margin-top: 20px;
  color: #7a7a7a;
}

hr {
  border: none;
  height: 1px;
  background-color: #404040;
}

.eliminar {
  border-radius: 20px;
  margin: 5px;
}

#carritoContenedor {
  cursor: pointer;
}

/* Estilos para el modal del carrito */
.modal-content {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.modal-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1f2d3d;
}

.modal-body {
  margin-top: 20px;
}

#carritoItems {
  list-style-type: none;
  padding: 0;
}

#carritoItems li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#carritoItems li .nombre {
  flex-grow: 1;
  margin-right: 10px;
  color: #444444;
}

#carritoItems li .precio {
  font-weight: bold;
  color: #1f2d3d;
}

#carritoTotal {
  margin-top: 10px;
  text-align: right;
  font-weight: bold;
  color: #1f2d3d;
}

#comprar {
  background-color: #1f2d3d;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#comprar:hover {
  background-color: #444444;
}

#mensaje-compra {
  margin-top: 10px;
  color: #1f2d3d;
}
